/*Colores*/

$colorVino: #8d1f1e;
$colorNaranja: #c13d20;
$colorVerdoso: #91ba8f;
$colorAzul: #b4d3b2;
$colorRosa: #f5eac9;

/*Tipografia*/

$fuenteTitulos: 'Lobster', cursive;
$fuenteTextos: 'Josefin Sans', sans-serif;
$tamanoTitulo: 25px;
$tamanoTexto: 15px;
$centrar: center;
$alinearDer:right;

/*Espacios*/

$chico: 2%;
$mediano: 5%;
$grande: 10%;